--extra-index-url=https://download.pytorch.org/whl/cu121
torch==2.5.1
torchaudio==2.5.1
nvidia-ml-py
triton-windows<3.4 ; sys_platform == 'win32'
# DeepSpeed — устанавливается отдельно скриптом сборки при наличии CUDA Toolkit
# https://github.com/langfod/DeepSpeed/releases/download/v0.18.0w/deepspeed-0.18.0+361a4043-cp312-cp312-win_amd64.whl ; sys_platform == 'win32'
triton<3.4 ; sys_platform != 'win32'
# deepspeed ; sys_platform != 'win32'

setuptools<81
cupy-cuda12x
pytorch-pfn-extras

psutil

hf-xet
spacy[cuda12x]
numpy
spacy[ja]
pydantic
loguru
uvicorn
transformers<4.54
gradio==5.49.1


pypinyin
ko-speech-tools[g2p]>=0.1.0
fugashi
unidic-lite
cutlet
soundfile
scipy

coqpit
fsspec
tqdm
typeguard

num2words
einops

spacy-pkuseg
kss
g2pk2